ManageEvacuees/Service References/NSMefonimGovService/MefonimGovService212.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://malamteam/Mahoz" elementFormDefault="qualified" targetNamespace="http://malamteam/Mahoz" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MitkanType">
    <xs:sequence>
      <xs:element minOccurs="0" name="MitkanTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MitkanType" nillable="true" type="tns:MitkanType" />
</xs:schema>