ManageEvacuees/Service References/NSMefonimGovService/MefonimGovService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://malamteam/UpdateMefuneResponse" elementFormDefault="qualified" targetNamespace="http://malamteam/UpdateMefuneResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sarashalap.goffice.local/MoinLocalGovDataService/MefonimGovService.svc?xsd=xsd9" namespace="http://malamteam/ShiltonMekomi" />
  <xs:complexType name="UpdateMefuneResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element xmlns:q1="http://malamteam/ShiltonMekomi" minOccurs="0" name="ShiltonMekomi" nillable="true" type="q1:ShiltonMekomi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateMefuneResponse" nillable="true" type="tns:UpdateMefuneResponse" />
</xs:schema>