ManageEvacuees/Service References/NSMefonimGovService/MefonimGovService18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://malamteam/AgesTypeResponse" elementFormDefault="qualified" targetNamespace="http://malamteam/AgesTypeResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://crm11moin/MefonimGovService.svc?xsd=xsd17" namespace="http://malamteam/AgeType" />
  <xs:complexType name="AgesTypeResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://malamteam/AgeType" minOccurs="0" name="AgesTypes" nillable="true" type="q1:ArrayOfAgeType" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgesTypeResponse" nillable="true" type="tns:AgesTypeResponse" />
</xs:schema>