ManageEvacuees/Service References/NSMefonimGovService/MefonimGovService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://malamteam/ShiltonMekomi" elementFormDefault="qualified" targetNamespace="http://malamteam/ShiltonMekomi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://crm11moin/MefonimGovService.svc?xsd=xsd10" namespace="http://malamteam/Mitkanim" />
  <xs:complexType name="ShiltonMekomi">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsMfDateOutcome" type="xs:boolean" />
      <xs:element minOccurs="0" name="MefuneID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="MefuneSysNum" type="xs:long" />
      <xs:element minOccurs="0" name="MfAge" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MfDateIncome" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MfFather" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MfFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MfGender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MfLastName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://malamteam/Mitkanim" minOccurs="0" name="Mitkan" nillable="true" type="q1:Mitkanim" />
      <xs:element minOccurs="0" name="ShiltonMekomiAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShiltonMekomi" nillable="true" type="tns:ShiltonMekomi" />
</xs:schema>