ManageEvacuees/Service References/NSMefonimGovService/MefonimGovService2116.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://malamteam/LoginResponse" elementFormDefault="qualified" targetNamespace="http://malamteam/LoginResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
</xs:schema>