ManageEvacuees/Service References/NSMefonimGovService/MefonimGovService2112.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://malamteam/ReportMitkanim" elementFormDefault="qualified" targetNamespace="http://malamteam/ReportMitkanim" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReportMitkanim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportMitkanim" nillable="true" type="tns:ReportMitkanim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportMitkanim" nillable="true" type="tns:ArrayOfReportMitkanim" />
  <xs:complexType name="ReportMitkanim">
    <xs:sequence>
      <xs:element minOccurs="0" name="MahozName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MahozNum" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MitkanAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MitkanName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MitkanNum" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RashutID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RashutName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum19To65" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sum3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sum4To6" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sum66" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sum7To18" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SumAll" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportMitkanim" nillable="true" type="tns:ReportMitkanim" />
</xs:schema>