ManageEvacuees/Service References/NSMefonimGovService/MefonimGovService216.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://malamteam/Address" elementFormDefault="qualified" targetNamespace="http://malamteam/Address" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="Moaza" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StNum" type="xs:int" />
      <xs:element minOccurs="0" name="YeshuvName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YeshuvNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
</xs:schema>