ManageEvacuees/Service References/NSMefonimGovService/MefonimGovService215.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://malamteam/Mehozot" elementFormDefault="qualified" targetNamespace="http://malamteam/Mehozot" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Mehozot">
    <xs:sequence>
      <xs:element minOccurs="0" name="MahozName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MahozNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mehozot" nillable="true" type="tns:Mehozot" />
</xs:schema>