ManageEvacuees/Service References/NSMefonimGovService/MefonimGovService2113.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://malamteam/SearchResponse" elementFormDefault="qualified" targetNamespace="http://malamteam/SearchResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sarashalap.goffice.local/MoinLocalGovDataService/MefonimGovService.svc?xsd=xsd9" namespace="http://malamteam/ShiltonMekomi" />
  <xs:import schemaLocation="http://sarashalap.goffice.local/MoinLocalGovDataService/MefonimGovService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Guardian.Moin.EvacueeModule.DataContract" />
  <xs:complexType name="SearchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxRowsPerPage" type="xs:int" />
      <xs:element xmlns:q1="http://malamteam/ShiltonMekomi" minOccurs="0" name="ShiltonMekomi" nillable="true" type="q1:ArrayOfShiltonMekomi" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Guardian.Moin.EvacueeModule.DataContract" minOccurs="0" name="SortingName" type="q2:SortingField" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Guardian.Moin.EvacueeModule.DataContract" minOccurs="0" name="SortingOrder" type="q3:SortingOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResponse" nillable="true" type="tns:SearchResponse" />
</xs:schema>