ut/ConsoleClient/Service References/t/MefonimGovService203.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://malamteam/SearchMitkanimResponse" elementFormDefault="qualified" targetNamespace="http://malamteam/SearchMitkanimResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://crm11moin.gdevdom.goffice.local:81/MefonimGovService.svc?xsd=xsd16" namespace="http://malamteam/ReportMitkanim" />
  <xs:complexType name="SearchMitkanimResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://malamteam/ReportMitkanim" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfReportMitkanim" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchMitkanimResponse" nillable="true" type="tns:SearchMitkanimResponse" />
</xs:schema>