ut/ConsoleClient/Service References/t/MefonimGovService202.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://malamteam/SearchMitkanimRequest" elementFormDefault="qualified" targetNamespace="http://malamteam/SearchMitkanimRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchMitkanimRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="MehozId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MitkanNum" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RashutID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchMitkanimRequest" nillable="true" type="tns:SearchMitkanimRequest" />
</xs:schema>