ut/ConsoleClient/Service References/qa/MefonimGovService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://malamteam/SearchResponse" elementFormDefault="qualified" targetNamespace="http://malamteam/SearchResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://crm11moin/MefonimGovService.svc?xsd=xsd6" namespace="http://malamteam/ShiltonMekomi" />
  <xs:complexType name="SearchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxRowsPerPage" type="xs:int" />
      <xs:element xmlns:q1="http://malamteam/ShiltonMekomi" minOccurs="0" name="ShiltonMekomi" nillable="true" type="q1:ShiltonMekomi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResponse" nillable="true" type="tns:SearchResponse" />
</xs:schema>