ut/ConsoleClient/Service References/qa/MefonimGovService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://malamteam/AgeType" elementFormDefault="qualified" targetNamespace="http://malamteam/AgeType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAgeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgeType" nillable="true" type="tns:AgeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgeType" nillable="true" type="tns:ArrayOfAgeType" />
  <xs:complexType name="AgeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgeId" type="xs:int" />
      <xs:element minOccurs="0" name="AgeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgeType" nillable="true" type="tns:AgeType" />
</xs:schema>